/*.log
/target
/*-init.clj
/resources/public/js
out
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
/resources/public/js/out
/resources/public/img/products
/resources/*.edn
figwheel_server.log